@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 315 33% 95%;
    --foreground: 282 25% 20%;
    --card: 311 38% 100%;
    --card-foreground: 282 25% 20%;
    --popover: 311 38% 100%;
    --popover-foreground: 282 25% 20%;
    --primary: 282 100% 41%;
    --primary-foreground: 311 38% 98%;
    --secondary: 311 20% 88%;
    --secondary-foreground: 282 25% 20%;
    --muted: 311 20% 92%;
    --muted-foreground: 282 10% 45%;
    --accent: 180 100% 50%;
    --accent-foreground: 180 100% 5%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 311 20% 85%;
    --input: 311 20% 85%;
    --ring: 282 100% 41%;
    --chart-1: 282 100% 41%;
    --chart-2: 180 100% 50%;
    --chart-3: 311 38% 70%;
    --chart-4: 282 50% 60%;
    --chart-5: 180 50% 70%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 282 100% 41%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 282 100% 41%;
  }
  .dark {
    --background: 282 10% 10%;
    --foreground: 311 38% 95%;
    --card: 282 10% 15%;
    --card-foreground: 311 38% 95%;
    --popover: 282 10% 15%;
    --popover-foreground: 311 38% 95%;
    --primary: 282 100% 61%;
    --primary-foreground: 282 100% 10%;
    --secondary: 282 10% 20%;
    --secondary-foreground: 311 38% 95%;
    --muted: 282 10% 25%;
    --muted-foreground: 311 10% 65%;
    --accent: 180 100% 50%;
    --accent-foreground: 180 100% 5%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 282 10% 30%;
    --input: 282 10% 30%;
    --ring: 282 100% 61%;
    --chart-1: 282 100% 61%;
    --chart-2: 180 100% 50%;
    --chart-3: 311 38% 50%;
    --chart-4: 282 50% 40%;
    --chart-5: 180 50% 30%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 282 100% 61%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 282 100% 61%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
